:root {
	/* base colors */
	--cyan: #5fb4a2;
	--blue: #203a4c;
	--darkBlue: #33323d;
	--lightGrey: #fafafa;
	--grey: #eaeaeb;
	--red: #f43030;
	--black: #000000;

	/* color intentions */
	--background: var(--lightGrey);
	--buttonBackground: var(--blue);

	/* typography */
	--mainText: var(--darkBlue);
	--mutedText: var(--lightGrey);
	--headingFont: 'Ibarra Real Nova', serif;
	--bodyFont: 'Public Sans', sans-serif;
	--h1: 3.125em;
	--h2: 2.5em;
	--h3: 2em;
	--h5: 1.5em;
	--h5: 1.25em;
	--textSmall: 0.8em;
}

/* typography developed using type-scale.com */
* {
	box-sizing: border-box;
}
html {
	font-size: 100%; /*16px*/
}

body {
	background: var(--lightGrey);
	font-family: var(--bodyFont);
	font-weight: 400;
	line-height: 1.875;
	color: #333;
}

p {
	margin-bottom: 1.15rem;
	max-width: 50em;
}

p a {
	color: var(--darkBlue);
	text-decoration: none;
	border-bottom: solid 2px var(--cyan);
}

h1,
h2,
h3 {
	margin: 2.75rem 0 1.05rem;
	font-family: var(--headingFont);
	font-weight: 400;
	line-height: 1.15;
}

h1 {
	margin-top: 0;
	font-size: var(--h1);
	font-weight: 700;
}

h2 {
	font-size: var(--h2);
	font-weight: 700;
}

h3 {
	font-size: var(--h3);
}

small,
.text_small {
	font-size: var(--textSmall);
}

label {
	display: block;
	font-size: var(--textSmall);
	font-weight: 700;
}

input,
textarea {
	background: var(--grey);
	border: none;
	padding: 20px;
}

input:focus,
textarea:focus {
	outline: 1px solid var(--cyan);
}

::placeholder {
	color: var(--darkBlue);
	opacity: 0.3;
}

/* primary button styles */
.primary-btn {
	color: var(--lightGrey);
	background: var(--blue);
	text-transform: uppercase;
	font-size: var(--textSmall);
	border: none;
	z-index: 1;
	position: relative;
	width: 53%;
	height: 4em;
	display: grid;
	grid-template-columns: 25% auto;
	align-items: center;
	justify-items: center;
}

.primary-btn::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	background: var(--black);
	opacity: 0.2;
}

.primary-btn:hover,
.primary-btn:hover svg g {
	background: var(--cyan);
	color: var(--lightGrey);
	cursor: pointer;
	stroke: var(--lightGrey);
}

/* disables primary button styles */
.primary-btn:disabled,
.primary-btn:disabled svg g {
	background: var(--grey);
	stroke: white;
	cursor: auto;
	color: white;
}

.primary-btn:disabled::before {
	background: var(--black);
	opacity: 0.1;
}

/* secondary button styles */
.secondary-btn {
	appearance: none;
	background: var(--lightGrey);
	border: var(--darkBlue) 1px solid;
	color: var(--darkBlue);
	padding: 20px 40px;
	text-transform: uppercase;
	transition: background 0.3s ease;
}

.secondary-btn:hover {
	background: var(--darkBlue);
	color: var(--lightGrey);
	cursor: pointer;
}

.secondary-btn:disabled,
.secondary-btn[disabled] {
	opacity: 0.3;
}
