:root {
	/* base colors */
	--cyan: #5fb4a2;
	--blue: #203a4c;
	--darkBlue: #33323d;
	--lightGrey: #fafafa;
	--grey: #eaeaeb;
	--red: #f43030;
	--black: #000000;

	/* positioning*/
	--containerPadding: 10%;
	--headerHeight: 4em;

	/* color intentions */
	--background: var(--lightGrey);
	--buttonBackground: var(--blue);

	/* typography */
	--mainText: var(--darkBlue);
	--mutedText: var(--lightGrey);
	--headingFont: 'Ibarra Real Nova', serif;
	--bodyFont: 'Public Sans', sans-serif;
	--baseFontSize: 100%;
	--h1: 3.125em;
	--h2: 2.5em;
	--h3: 2em;
	--h5: 1.5em;
	--h5: 1.25em;
	--textSmall: 0.75em;
} /* typography developed using type-scale.com */

/*BEGIN GLOBAL STYLES*/

*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	font-size: var(--baseFontSize); /*16px*/
	box-sizing: border-box;
}

body {
	background: var(--lightGrey);
	font-family: var(--bodyFont);
	font-weight: 400;
	line-height: 1.875;
	color: #333;
}

header {
	--headerBackground: var(--lightGrey);
	background: var(--headerBackground);
	padding: 1.5em var(--containerPadding);
	height: var(--headerHeight);
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
}

footer {
	background: var(--darkBlue);
	color: var(--lightGrey);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em 0;
}

p {
	margin-bottom: 1.15rem;
	max-width: 50em;
}

p a {
	color: var(--darkBlue);
	text-decoration: none;
	border-bottom: solid 2px var(--cyan);
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-family: var(--headingFont);
	font-weight: 400;
	line-height: 1.15;
}

h1 {
	font-size: var(--h1);
	font-weight: 700;
}

h2 {
	font-size: var(--h2);
	font-weight: 700;
}

h3 {
	font-size: var(--h3);
}

small,
.text_small {
	font-size: var(--textSmall);
}

label {
	display: block;
	font-size: var(--textSmall);
	font-weight: 700;
}

input,
textarea {
	background: var(--grey);
	border: none;
	padding: 20px;
}

input:focus,
textarea:focus {
	outline: 1px solid var(--cyan);
}

::placeholder {
	color: var(--darkBlue);
	opacity: 0.3;
}

button {
	text-transform: uppercase;
	border: none;
	font-size: var(--textSmall);
	transition: background 0.3s ease;
}

/* primary button styles */
.primary-btn {
	color: var(--lightGrey);
	background: var(--blue);
	z-index: 1;
	position: relative;
	width: 50%;
	max-width: 20em;
	height: 4em;
	display: grid;
	grid-template-columns: 25% auto;
	align-items: center;
	padding: 0;
}

.primary-btn::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	background: var(--black);
	opacity: 0.2;
}

.primary-btn:hover,
.primary-btn:hover svg g {
	background: var(--cyan);
	color: var(--lightGrey);
	cursor: pointer;
	stroke: var(--lightGrey);
}

/* disabled primary button styles */
.primary-btn:disabled,
.primary-btn:disabled svg g {
	background: var(--grey);
	stroke: white;
	cursor: auto;
	color: white;
}

.primary-btn:disabled::before {
	background: var(--black);
	opacity: 0.1;
}

/* secondary button styles */
.secondary-btn {
	appearance: none;
	background: var(--lightGrey);
	border: var(--darkBlue) 1px solid;
	color: var(--darkBlue);
	padding: 20px 40px;
}

.secondary-btn:hover {
	background: var(--darkBlue);
	color: var(--lightGrey);
	cursor: pointer;
}

.secondary-btn:disabled,
.secondary-btn[disabled] {
	opacity: 0.3;
}

/* Nav styles */
nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: var(--textSmall);
	letter-spacing: 2px;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.top-nav button {
	border: none;
	background: none;
	cursor: pointer;
}

.top-nav button:focus {
	outline: none;
}

.top-nav ul li a,
footer nav ul li a {
	color: var(--lightGrey);
	position: relative;
}

.top-nav ul li a::after,
footer nav ul li a::after {
	content: '';
	background-color: var(--lightGrey);
	position: absolute;
	left: 0;
	bottom: -2em;
	height: 2px;
	width: 100%;
	opacity: 0;
	transition: all 0.3s ease;
}
.top-nav ul li a:hover::after,
footer nav ul li a:hover::after {
	transform: translateY(-1.5em);
	opacity: 1;
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer nav ul a {
	color: var(--lightGrey);
}

footer .social-nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

footer .social-nav ul li + li {
	padding-left: 1em;
}

footer .social-nav a svg path,
footer nav svg path {
	fill: var(--lightGrey);
}

main {
	padding: calc(1em + var(--headerHeight)) var(--containerPadding);
}

/* 
/////////////////////
HERO STYLES */
main .hero-header h1 {
	margin-bottom: 1em;
}

main .hero,
main article {
	margin-bottom: 6.25em;
}

main article .about-section .about-content {
	padding: 2em 0 4em 0;
	border-top: solid 1px var(--grey);
	border-bottom: solid 1px var(--grey);
}

main article .portfolio-item .portfolio-item-content {
	border-top: solid 1px var(--grey);
	border-bottom: solid 1px var(--grey);
}

/* 
///////////////////
MOBILE SPECIFIC STYLES 
*/
@media (max-width: 768px) {
	.topnav {
		padding: 2em;
	}

	.top-nav ul {
		background-color: var(--darkBlue);
		position: fixed;
		top: 6em;
		right: 10%;
		text-align: center;
		padding: 1em 3em;
		opacity: 0;
		transform: translateX(150%);
		transition: all 0.3s ease;
	}

	.top-nav ul li {
		margin: 1em;
	}

	.top-nav ul.show {
		opacity: 1;
		transform: translateX(0);
	}

	.top-nav button.hide {
		display: none;
	}

	main img {
		width: 100%;
	}

	main .hero img {
		margin-bottom: 1.5em;
	}

	main h1 {
		--h1: 2.5em;
		font-size: var(--h1);
	}

	main .about-section img {
		margin-bottom: 2em;
	}

	main article .portfolio-item img {
		margin-bottom: 2em;
	}

	main article .portfolio-item .portfolio-item-content {
		padding: 2em 0;
		margin-bottom: 2em;
	}

	.portfolio-item-content p {
		margin-bottom: 2em;
	}

	.work-together {
		text-align: center;
	}
	.work-together h3 {
		margin-bottom: 1em;
	}

	.work-together hr {
		display: none;
	}

	footer {
		flex-direction: column;
	}

	footer nav {
		flex-direction: column;
	}

	footer nav svg {
		margin: 2em 0;
	}

	footer nav ul {
		text-align: center;
	}

	footer nav ul li + li {
		margin-top: 1em;
	}
}

/* 
///////////////////
TABLET STYLES 
*/

/* 
///////////////////
DESKTOP STYLES 
*/
@media (min-width: 768px) {
	header {
		--headerHeight: 5em;
	}

	.top-nav button {
		display: none;
	}

	.top-nav ul {
		display: flex;
		list-style-type: none;
	}

	.top-nav ul li {
		margin: 0 1em;
	}

	.top-nav ul li:last-child {
		margin-right: 0;
	}

	.top-nav ul li a {
		color: var(--darkBlue);
	}

	.top-nav ul li a:hover {
		color: var(--cyan);
	}

	.top-nav ul li a::after {
		content: '';
		background-color: var(--cyan);
	}

	main .hero {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
	}

	main .hero-header {
		position: absolute;
		padding: 2em;
		background-color: var(--lightGrey);
		bottom: 0;
		left: 0;
		width: 40%;
	}

	article section.about-section {
		display: flex;
		margin-bottom: 8em;
	}
	article section.about-section img {
		display: flex;
		flex: 1;
	}
	article section.about-section .about-content {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin: 0 5em;
	}

	.about-content button {
		width: 50%;
	}

	section.work-together {
		display: flex;
		align-items: center;
	}

	.work-together h3 {
		display: flex;
		flex: 4;
		font-size: var(--h1);
	}

	.work-together hr {
		display: flex;
		flex: 4;
		margin: 0 3em;
	}

	.work-together button {
		flex: 1;
	}

	footer {
		display: flex;
		padding: 2em var(--containerPadding);
		justify-content: space-between;
	}

	footer nav {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	footer nav svg {
		margin-right: 2em;
	}

	footer nav ul {
		display: flex;
	}

	footer nav ul li + li {
		margin-left: 2em;
	}

	footer .social-nav {
		align-items: center;
		justify-content: center;
	}

	/* Portfolio Specific Styles */

	main .portfolio {
		margin-top: 4em;
	}

	.portfolio-item {
		display: flex;
		justify-content: center;
		margin-bottom: 4em;
	}

	.portfolio-item .portfolio-content-wrapper {
		display: flex;
		justify-content: center;
		flex: 1;
	}

	.portfolio-item img {
		display: flex;
		align-self: center;
		flex: 1;
	}

	.portfolio-item-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2em 0;
		width: 60%;
	}

	.portfolio-item-content button.secondary-btn {
		width: 60%;
	}

	.portfolio section:nth-child(even) {
		flex-direction: row-reverse;
	}
}
