/* ELEMENT STYLES */
html {
  font-size: var(--baseFontSize); /*16px*/
  box-sizing: border-box;
}

body {
  background: var(--lightGrey);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.875;
  color: #333;
}

header {
  --headerBackground: var(--lightGrey);
  background: var(--headerBackground);
  padding: 1.5em var(--containerPadding);
  height: var(--headerHeight);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}

main {
  padding: calc(1em + var(--headerHeight)) var(--containerPadding);
  h1 {
    --h1: 2.5em;
    font-size: var(--h1);
  }

  p {
    margin-bottom: 1.15rem;
    max-width: 50em;
    a {
      color: var(--darkBlue);
      text-decoration: none;
      border-bottom: solid 2px var(--cyan);
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.15;
  }

  h1 {
    font-size: var(--h1);
    font-weight: 700;
  }

  h2 {
    font-size: var(--h2);
    font-weight: 700;
  }

  h3 {
    font-size: var(--h3);
  }

  small,
  .text_small {
    font-size: var(--textSmall);
  }

  label {
    display: block;
    font-size: var(--textSmall);
    font-weight: 700;
  }

  input,
  textarea {
    background: var(--grey);
    border: none;
    padding: 20px;
    &:focus {
      outline: 1px solid var(--cyan);
    }
    &::placeholder {
      color: var(--darkBlue);
      opacity: 0.3;
    }
  }

  button {
    text-transform: uppercase;
    border: none;
    font-size: var(--textSmall);
    transition: background 0.3s ease;
  }
}

footer {
  background: var(--darkBlue);
  color: var(--lightGrey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 0;
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      text-align: center;
      li + li {
        margin-top: 1em;
      }
      a {
        color: var(--lightGrey);
      }
    }
    svg {
      margin: 2em 0;
    }
  }
}

nav {
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--textSmall);
    letter-spacing: 2px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

@media (min-width: 768px) {
  /*ELEMENT STYLES */
  header {
    height: 5em;
  }

  footer {
    flex-direction: row;
    padding: 2em var(--containerPadding);
    justify-content: space-between;
    nav {
      flex-direction: row;
      svg {
        margin-right: 2em;
      }
      ul {
        display: flex;
        flex-direction: row;
        li + li {
          margin-left: 2em;
          margin-top: 0;
        }
      }
    }
  }
}
