/* SETTINGS */
:root {
  /* base colors */
  --cyan: #5fb4a2;
  --blue: #203a4c;
  --darkBlue: #33323d;
  --lightGrey: #fafafa;
  --grey: #eaeaeb;
  --red: #f43030;
  --black: #000000;

  /* positioning*/
  --containerPadding: 10%;
  --headerHeight: 4em;

  /* color intentions */
  --background: var(--lightGrey);
  --buttonBackground: var(--blue);

  /* typography */
  --mainText: var(--darkBlue);
  --mutedText: var(--lightGrey);
  --headingFont: "Ibarra Real Nova", serif;
  --bodyFont: "Public Sans", sans-serif;
  --baseFontSize: 100%;
  --h1: 3.125em;
  --h2: 2.5em;
  --h3: 2em;
  --h5: 1.5em;
  --h5: 1.25em;
  --textSmall: 0.75em;
} /* typography developed using type-scale.com */
